# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Builds
/android
/ios
.kotlin/
.gradle/
*.apk
*.aab
*.ipa
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Bundler
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log
logs/

# Operating Systems
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Environment variables & Local secrets
.env
.env.local
.env.development
.env.production
.env.staging
.env*.local

# TypeScript
*.tsbuildinfo

# IDEs & Editors
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# Temporary & Cache
app-example/
.cache/
tmp/